Page {
  background-color: #B665D3;
  font-size: 20;
}

#breathe {
  background-color: #707BFF;
  color: white;
  font-weight: bold;
  width: 200;
  height: 200;
  border-radius: 100;
}

.title {
    font-size: 40;
    horizontal-align: center;
    margin: 20;
}

.message {
    font-size: 40;
    color: #FFFFFF;
    horizontal-align: center;
}
