Page {
  background-color: #B665D3;
  font-size: 20;
}

.title {
    font-size: 40;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 40;
    color: #FFFFFF;
    horizontal-align: center;
}
