Page {
  background-color: #707BFF;
  font-size: 20;
}

#breathe {
  background-color: #FAF260;
  color: black;
  font-weight: bold;
  width: 200;
  height: 200;
  border-radius: 100;
}
#mantra {
  horizontal-align: center;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30;
  width: 375;
}
#subtitle {
  horizontal-align: center;
  text-align: center;
  color: white;
  width: 375;
}

.title {
    font-size: 40;
    horizontal-align: center;
    margin: 20;
}

.message {
    font-size: 40;
    color: #FFFFFF;
    horizontal-align: center;
}
